/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px;
	color: rgb(0, 0, 0);
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	scroll-behavior: smooth;
	scroll-padding: 66px 0 0 50px;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 20%;
}

@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}

@media (max-width: 600px){
	section{
		padding: 60px 20px;
	}
}

section h3.title{
	color: #414a4f;
	font: bold 32px 'Montserrat';
	margin-bottom: 25px;
	text-align: left;
    display: inline-block;	
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 10px;
	/* padding: 0 20px; */
	line-height: 1.5;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	color: rgb(0, 0, 0);
	padding: 20px 20% 20px;
	background-color: rgb(255, 255, 255);
    opacity: 90%;
}

header li:hover{
	text-decoration: underline;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header ul{
	display: flex;
	display: -ms-flexbox;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	height: auto;
	min-height: inherit;
	max-height: inherit;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	header ul {
	  -ms-flex-pack: distribute;
	  justify-content: space-between;
	}
  }

header ul li{
	margin: 0 15px;
	display: block;
  text-align: left;
}

header ul li:first-child{
	margin-left: 0;	
}

header ul li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 102px;
  }



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
	align-items: flex-start;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	object-fit: cover;
	z-index: -1;
	overflow: hidden;
	filter: brightness(50%);

   
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 117px;
	color: #FFFFFF;
}

.hero p{
	margin-top: 110px;
	font-family: Caveat;
	font-size: 45px;

}

.hero h3{
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	line-height: 2rem;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
		line-height: 3.5rem;
		margin-bottom: 15%;
	}

	.hero h3{
		font-size: 24px;
		margin-bottom: 15%;
		margin-top: 10%
	}

	.hero a.btn{
		padding: 15px 40px;
	}

	.hero{
		padding: 80px 30px;
	}

}


/*---------------------
 	Map Section
---------------------*/

.map{
	background-color: #43484b;
	color: #ffffff;
	font-style: normal;
}

.map div{
	width: 100%;
}

.map .half{
	width: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
}

.listmap{
	width: 500px;
}

.map h3.title{
	color: #ffffff;
}

.map p{
	margin-top: 10px;
	font-size: 14px;
	text-align: left;	
}

@media (max-width: 600px){

	.map .half{
		flex-direction: column;
	}

	.listmap{
		width: 100%;
	}
}



/*--------------------
 	Plan section
---------------------*/

.plan{
	color: #ffffff;
	background-image: linear-gradient(to left,#ae6356, #a15c4f);
	padding: 120px 20%;
}

.plan div{
	width: 100%;
	text-align: center;
}

.plan h3.title{
	color: #ffffff;	
}

.plan .grid{
	margin-top: 30px;
}

.plan .grid li p:first-child{
	font-weight: 10;
	font-size: 22px;
}

.plan .grid li p:last-child{
	font-size: 14px;
}

@media (max-width: 600px){

	.plan .grid{
		flex-direction: column;
	}

	.plan .grid li {
		margin-top: 15px;
	}

	.plan .grid li p{
		margin-bottom: 5px;
	}

}


/*--------------------
 	Wishes Section
--------------------*/
.wishes{
	background-color: #e4e4e4;
	align-items: flex-start
}

.wishes .grid{
	flex-direction: column;
}
.wishes .grid li{
	margin: 10px 0px;
	flex-basis: 30%;
	text-align: left;
	background-color: #FFFFFF;
}

.wishes .grid li h4{
	margin: 10px;
	color: #555;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
	text-align: left;
}

.wishes .grid li p:nth-child(odd){
	margin-top: 30px;
    margin-left: 30px;
	margin-right: 30px;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}

.wishes .grid li p:nth-child(even){
    margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: left;
}

.wishes .grid li img{
    margin-left: 30px;
	height: 1.5rem;
}

.wishes .grid li p:nth-child(even){
    font-size: 14px;
}

@media (max-width: 1000px){

	.wishes .grid li{
		flex-basis: 70%;
	}

	.wishes .grid li:last-child{
		margin-bottom: 0;
	}

	.wishes .grid li p:first-child{
		font-size: 20px;
		font-weight: bold;
	}

}


@media (max-width: 600px){

	.wishes .grid li{
		flex-basis: 100%;
	}

}


/*--------------------
 	Orgs Section
---------------------*/

.orgs{
	background-color: #43484B;	
	color: #ffffff;	
}

.orgs .grid{
	width: 60%;
}

.orgs .grid li{
	text-align: center;
}



.orgs .grid li p:nth-child(even){
	font-size: 12px;
}

.orgs h3.title{
	color: #ffffff;	
}

.orgs img{
	width: 100px;
	border-radius: 50%;
}

@media (max-width: 600px){

	.orgs .grid{
		justify-content: center
	}

	.orgs .grid li:first-child{
		margin-bottom: 40px;
	}

}




/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #ffffff;
}

.features div{
	width: 100%;
}

.features .grid li{
	color: rgb(255, 255, 255);
	background-color: #414a4f;
	flex-basis: 30%;
	text-align: center;
}

.features .grid li h4{	
    font-size: 20px;
    margin: 10px;
	margin-left: 30px;
	text-align: left;
}

.features .grid li p{
	font-size: 14px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: left;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 25px;
	}

	.features .grid li p{
		font-size: 14px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}





/*---------------------
 	Feedback Section
---------------------*/

.feedback{
	padding-block-end: unset;
	background-color: #f7f7f7;
	align-items: center;
}

.mobileShow{
	display: none;
}

.desktopShow{
	display: block;
}

@media (max-width: 640px) { 
	.mobileShow {display: block;}
}


@media (max-width: 640px) { 
	.desktopShow {display: none;}
}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	color: #fff;
	
}

footer .left{
	width: 50%;
	background-color: #E6E5E6;
	text-align: end;
}

footer .right{
	width: 50%;
	background-color: #281E1C;
	
}

footer img{
	height: 100%
}

footer ul{
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 5%;
}

footer ul li{
	margin-top: 20px;
}

footer ul li:nth-child(3){
	margin-top: 0;
	font-size: 12px;
}

footer ul li:nth-child(5){
	margin-top: 0;
	font-size: 12px;
}

footer ul li:last-child{
	margin-top: 20%;
	font-family: Caveat;
	font-size: 25px;	
}


@media (max-width: 700px){

	footer img{
		width: 100%;
	}

	footer{
		flex-direction: column;
	}

	footer .left{
		width: 100%;
	}
	footer .right{
		width: 100%;
	}

	footer ul li:last-child{
		margin-bottom: 50px;
	}

}
